@model DumpDiag.Console.Models.HeapStatistics

<p>Total unique objects: @Model.TotalUniqueObjects</p>
<table>
    <thead>
        <tr>
            <th>Type Name</th>
            <th>Count</th>
            <th>Total Size (bytes)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var type in Model.Types)
        {
            <tr>
                <td style="max-width: 50em; text-overflow: ellipsis"><strong>@type.TypeName</strong></td>
                <td>@type.Count</td>
                <td>@type.TotalSize</td>
            </tr>
        }
    </tbody>
</table>
