@model DumpDiag.Console.Models.ObjectInstance
@{
    Layout = null;
}

<table>
    <tr>
        <th colspan="2">@Html.DisplayFor(model => model.Type) @Html.DisplayFor(model => model.Address)</th>
    </tr>
    @foreach (var field in Model.Fields)
    {
        <tr>
            <td>@field.Name</td>
            <td>@Html.DisplayFor(model => field.Value, field.Value.GetType().Name)</td>
        </tr>
    }
</table>