@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div >
    <div>
        <button id="heap-stats-button" command-name="Init">Init</button>
    </div>
    <div>
        <input id="command" type="text" value="init" />
    </div>
</div>

<div id="block-host">

</div>

<template id="t-block">
    <div class="block row-fluid" data-removable>
        <div class="block-header">
            <div class="float-right"><a href="#" data-action="remove">Remove</a></div>
        </div>
        <div class="block-body">
        </div>
    </div>
</template>
